SUPABASE_URL=https://knqhcipfgypzfszrwrsu.supabase.co
SUPABASE_SERVICE_KEY=your_service_key_here
OPENAI_API_KEY=your_openai_api_key_here
DOCLING_URL=http://139.59.165.79:5000
ANTHROPIC_API_KEY=your_anthropic_api_key_here
